- require('./block.table.styl')

form(
    name='formData'
    method='post'
    action="/"
    ng-model='tableCtrl.formData'
)
    
    ul.list-button
        li.list-button__item
            a.iw-button-beauty(
                href=""
                ng-click=""
            ) Добавить пользователя

        li.list-button__item
            a.iw-button-beauty(
                href=""
                ng-click=""
                ng-if="tableCtrl.selected"
            ) Удалить всех
    
    table.iw-table(
        ts-wrapper
    )
        colgroup
            col(width="30")
            col
            col
            col
            col
            col
            col(width="150")
            col(width="60")
        tr.iw-table__row
            th.iw-table__header.iw-table__no-padding
                label.iw-checkbox.iw-checkbox--no-label
                    input.iw-checkbox__input(
                        type="checkbox"
                        name="checkAll"
                        ng-model="tableCtrl.formData.checkAll"
                        ng-change="tableCtrl._checkAll(tableCtrl.formData.checkAll)"
                        ng-checked="tableCtrl.checked"
                    )
                    span.iw-checkbox__visible(role='checkbox', aria-checked='false')
            th.iw-table__header ЛОГИН
            th.iw-table__header EMAIL
            th.iw-table__header ИМЯ
            th.iw-table__header(
                ts-criteria="item.lastSession|parseDate"
                ts-default
            )
                .iw-table__sortable Дата регистрации
            th.iw-table__header СТАТУС
            th.iw-table__header АДМИНИСТРАТОР
            th.iw-table__header.iw-table__no-padding

        tr.iw-table__row(
            ng-repeat="item in tableCtrl.data track by $index"
            ng-class="{ 'is-active': tableCtrl.formData.removeItem[$index] || tableCtrl.checkAll }"
            ng-click="tableCtrl._goUserPage(item.login)"
            ts-repeat
        )
            td.iw-table__column.iw-table__no-padding
                label.iw-checkbox.iw-checkbox--no-label
                    input.iw-checkbox__input(
                        type="checkbox"
                        value="{{$index}}"
                        name="removeItem[$index]"
                        ng-change="tableCtrl._checkRow(tableCtrl.formData.removeItem[$index])"
                        ng-model="tableCtrl.formData.removeItem[$index]"
                        ng-checked="tableCtrl.checkAll"
                        tabindex="{{$index}}"
                    )
                    span.iw-checkbox__visible(role='checkbox', aria-checked='false')
            td.iw-table__column {{item.login}}
            td.iw-table__column {{item.email}}
            td.iw-table__column {{item.name}}
            td.iw-table__column {{item.lastSession}}
            td.iw-table__column {{item.status}}
            td.iw-table__column {{item.isAdmin}}
            td.iw-table__column.iw-table__no-padding
                button.iw-table__button(
                    type="button"
                ) удалить

    .pagination
        a.pagination__item.pagination__item--current(href="") 1
        a.pagination__item(href="") 2
        a.pagination__item(href="") 3
